@import "tailwindcss";

@layer utilities {
	.animate-gallery-marquee {
		animation: gallery-marquee 30s linear infinite;
	}
}

@keyframes gallery-marquee {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}
